.carousel__card {
    width: 394px;
    /* height: 462px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
}

@media screen and (max-width: 780px) {
    .carousel__card {
        margin-top: 40px;
    }
}